.searchContiner{
    padding: 50px 20px;
}

.imageContiner{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

.imageCard{
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.imageCard:hover{
    transform: scale(1.03);
    transition: all .2s ease-in-out;
}

@media screen and (max-width: 600px) {
    .imageContiner{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }
}